
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}


main {
    padding: 90px 120px;
}

.descuentos {
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 10px 28px 10px;
}

header {
    display: flex;
    background-color: #00669F;
}

header img {
    width: 100px;    
}

h1 {
    background-color: #00669F;
    font-size: 30px;
    padding: 28px 28px;
}


body {
    
    font-family: 'Roboto', sans-serif;
}

body nav {
    background-color: #001D2D;
}

body nav ul {
    display: flex;
    justify-content:flex-end;

}

body nav ul li {
    list-style: none;
    padding: 10px 10px;
    
}

body nav ul li a {
    color: white;
    text-decoration: none;  
}


.cajaMadre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caja {
    background-color: #F3F3F3;
    width: 300px;
    height: 590px; /* originalmente 529px */
    margin: 10px 10px 60px 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* esto le da el sombreado al contorno */
}

section.cajaMadre article.caja img.corazon {
    position: absolute;
    top: 16px;
    left: 21px;
}

section.cajaMadre article.caja img.perfil {
    position: absolute;
    top: 128px;
    left: 90px;
    z-index: 1;
    border-radius: 50%;
}

section.cajaMadre article.caja img.perfil.achicado {
    width: 120px;
    height: 118px;
}

h2 {
    font-size: 30px;
    margin: 60px 10px 10px 10px;
}

h2.mayusculas {
    text-transform: uppercase;
}


section.cajaMadre article.caja div p {
    padding: 1px 17px;
    margin-bottom: 47px;
    text-align: justify;
}


section.cajaMadre article.caja div.texto a {
    background-color: #00669F;
    color: #F3F3F3;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    left: 85px;
    bottom: 10px;
}


.fondo {
    height: 193px;
    width: 300px;
    border-radius: 7%;    
}

section.cajaMadre div.button1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3vw;
    top: 64vh;
}


section.cajaMadre div.button1 button {
    background-color: #00669F;
    color: #FFFFFF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 35px;
    border: none;
    cursor: pointer;
}

section.cajaMadre div.button1 button:hover {
    background: #001D2D;
}

section.cajaMadre div.button1 button a {
    color: white;
    text-decoration: none;
}


/* section.cajaMadre div.boton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 3vw;
    top: 57vh;
}

section.cajaMadre div.boton a {
    text-decoration: none;
    color: white;
    font-size: 35px;
} */

footer {
    background-color: #00669F;
    color: white;
    height: 104px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

footer p {
    text-align: right;
    width: 60vw;
}

footer img {
    height: 60%;
}



/* Contacto */

form div.tituloForm {
    display: flex;
    width: 620px;
    padding-bottom: 45px ;
}

form div.tituloForm h2 {
    font-size: 72px;
    font-family: 'Inter', sans-serif;
    margin: 60px 10px 10px 0px;
}

form.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.contacto input {
    padding: 17px;
    width: 620px;
    margin: 10px;
}

form.contacto textarea {
    width: 620px;
    height: 251px;

}


/* Registro */

form.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.registro input {
    padding: 17px;
    width: 620px;
    margin: 10px;
}

form.registro select {
    padding: 17px;
    width: 620px;
    margin: 10px;
}

/* form input[type=email]:invalid {
    border: 1px red solid;
} */

form div.buttons2 button {
    width: 300px;
    border-radius: 23.011px;
    padding: 10px;
    border: none;
    color: white;
    background: #888888;
    font-size: 24px;
    margin: 45px 10px 5px 10px;
    cursor: pointer;
}

form div.buttons2 button[type=submit] {
    background: #1CD1B0;
    color: #000;
}

form div.buttons2 button:hover {
    border: 2px black solid;
}



/* Login */

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form.login input {
    font-size: 20px;
    padding: 17px 27px;
    width: 620px;
    margin: 10px;
    border: solid;
    border-width: 1.5px;
}

form.login button {
    background: #1CD1B0;
    width: 618px;
    border: none;
    border-radius: 23.011px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 49px;
    cursor: pointer;
}

form.login button:hover {
    background: #001D2D;
    color: white;
}


body div.registrarse {
    display: flex;
    justify-content: center;
    padding: 20px;
}

body div.registrarse a {
    padding: 0px 5px;
    text-decoration: none;
    color: #00669F;
}

footer.footerLogin {
    margin-top: 20vh;
}




/* New Card */
section.newCard {
    background-color: #00669F;
    color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 49.0901px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section.newCard h2 {
    padding: 16px 10px;
    font-size: 40px;
    margin: auto;
}

section.newCard form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

section.newCard form div.input-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

section.newCard form div.input-form label {
    padding-bottom: 15px;
}

section.newCard form div.fila1 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.8% 13%;
}

section.newCard form div.fila1 div input {
    border-radius: 15.3407px;
    border: none;
    height: 63px;
    padding-left: 11px;
}

section.newCard form div.fila1 div select {
    height: 63px;
    border-radius: 15.3407px;
    border: none;
    padding-left: 11px;
}

section.newCard form div.fila2 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.8% 13%;
    align-items: baseline;
}

section.newCard form div.fila2 div input[type="date"] {
    height: 63px;
    border-radius: 15.3407px;
    border: none;
    padding: 21px 22px 21px 13px;
}

section.newCard form div.fila2 div input[type="file"] {
    padding-top: 4%;
}

section.newCard form div.fila3 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.8% 13%;   
}

/* section.newCard form div.fila3 div {
    display: flex;
    flex-direction: column;
    width: 50%;  
} */

section.newCard form div.fila3 div.columna1 {
    display: flex;
}

section.newCard form div.fila3 div.columna1 textarea {
    height: 307px;
    border-radius: 15.3407px;
    border: none;
    padding: 20px 10px;
    font-size: 20px;
}

section.newCard form div.fila3 div.columna2 {
    justify-content: space-evenly;
}

section.newCard form div.fila3 div.columna2.input-form label[for=Poderes] {
    font-family: 'Inter', sans-serif;
}

/* section.newCard form div.fila3 div.columna2.input-form label input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #F3F3F3;
    padding: 4%;
} */

section.newCard form div.fila3 div.columna2.input-form label[for=personajes] {
    font-family: 'Inter', sans-serif;
    padding-top: 21px;
}

/* section.newCard form div.fila3 div.columna2.input-form label input[type=radio] {
    appearance: none;
    padding: 4%;
    background-color: #F3F3F3;
    border-radius: 50%;
} */

section.newCard form div.fila3 div.columna2.input-form label {
    font-family: 'Karla', sans-serif;
}



section.newCard form button {
    background-color: #1CD1B0;
    border: none;
    border-radius: 23.011px;
    font-size: 40px;
    font-weight: bold;
    width: 48.4%;
    padding: 21px;
    margin:18px;
    cursor: pointer;
}

section.newCard form button:hover{
    background-color: #001D2D;
    color: white;
}


footer.footerCentrado {
    justify-content: center;
}

footer.footerCentrado p {
    width: auto;
}





@media (max-width: 1520px) {
    /* Tablets grandes/laptop */
    main {
        padding: 90px 10px;
    }
    section.cajaMadre div.button1 {
        top: 90vh;
        position: static;
    }
}

/* @media (max-width: 1300x) {

} */


@media (max-width: 1216px) {
    /* Tablets grandes/laptop */
    section.cajaMadre div.button1 {
        top: 90vh;
    }
}


@media (max-width: 979px) {
    /* Tablets */
    section.cajaMadre {
        justify-content: space-evenly;
    }

    section.cajaMadre div.button1 {
        top: 100vh;
        right: 3vw;
        position: absolute;
    }
}

@media (max-width: 845px) {
    section.cajaMadre div.button1 {
        top: 100vh;
        right: 3vw;
        position: sticky;
        width: 50vw;
    }
}



@media (max-width: 668px) {
    /* Tablets */
    section.cajaMadre div.button1 {
        top: 177vh;
        right: 9vw;
    }
}


@media (max-width: 480px) {
    /* Celulares */
    section.cajaMadre div.button1 {
        position: static;
        top: 177vh;   
    }
    footer {
        justify-content: center;
    }
    footer p {
      text-align: center;
    }
    
}

@media (max-width: 406px) {
    /* Celulares */
    section.cajaMadre div.button1 {
        top: 337vh;
    }
    footer {
        justify-content: center;
    }
    footer p {
      text-align: center;
    }
}
