<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="descuentos">
        <p>Descuentos 20%</p>
    </div>

    <header>
        <h1>Digital Hero</h1>
    </header>

    
    <form class="login" action="../index.html" method=""> 
        <div class="tituloForm">
            <h2>Login</h2>
        </div>
        <div>
            <input type="text" name="username" id="name" placeholder="Usuario">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        
        <button type="submit">Entrar</button>
    </form>
    
    <div>
        <a href="./register.html">¿No tienes una cuenta?</a><p>Registrarme</p>
    </div>
    

    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
        <img src="../img/LogoGitHub.png" alt="Logo de GitHub">
    </footer>

</body>
</html>