<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="descuentos">
        <p>Descuentos 20%</p>
    </div>

    <header>
        <h1>Digital Hero</h1>
    </header>

    <h2>Login</h2>
    <form action="../login.html" method=""> 
        <input type="text" name="username" placeholder="Nombre y Apellido">
        <input type="email" name="email" placeholder="Correo Electrónico">
        <input type="password" name="password" placeholder="Contraseña">
        <select name="country">
            <option disabled selected value="País">País</option>
            <option >Argentina</option>
            <option>Colombia</option>
            <option>Brasil</option>
        </select>


        <button type="submit">Entrar</button>
    </form>
    <a href="./register.html">¿No tienes una cuenta?</a><p>Registrarme</p>


</body>
</html>